@font-face {
  font-family: "iconfont"; /* Project id 3363332 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1651551892399') format('woff2'),
       url('iconfont.woff?t=1651551892399') format('woff'),
       url('iconfont.ttf?t=1651551892399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gerenxinxixiugaix:before {
  content: "\e62c";
}

.pie-chart-2:before {
  content: "\e632";
}

.linggan:before {
  content: "\e68d";
}

.shizhong:before {
  content: "\e612";
}

.greaterthan:before {
  content: "\e625";
}

.navigation__e:before {
  content: "\e601";
}

.weibiaoti-_huabanfuben:before {
  content: "\e60f";
}

.tuichu:before {
  content: "\ecb3";
}

.a-xingbietouxiang:before {
  content: "\e763";
}

.-task-:before {
  content: "\e61c";
}

.task_:before {
  content: "\e684";
}

.-to-do:before {
  content: "\e61a";
}

.fenlei:before {
  content: "\e638";
}

.zu:before {
  content: "\e613";
}

.cuowu:before {
  content: "\e600";
}

.zirenwu:before {
  content: "\e648";
}

.calendar:before {
  content: "\e6f5";
}

.alarm:before {
  content: "\e657";
}

.clock:before {
  content: "\e6c1";
}

